* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f7;
}
.container {
  max-width: 80%;
  margin: auto;
}

header nav {
  position: relative;
  padding-top: 20px;
  padding-left: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.burger-btn {
  position: absolute;
  top: 22px;
  left: 10px;
  background-image: url(./img/menu-burger.svg);
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 22px;
  left: 10px;
  background-image: url(./img/close-icon.svg);
  width: 24px;
  height: 24px;
  border: none;
  display: none;
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.menu {
  position: absolute;
  display: none;
  width: 400px;
  background-color: #f5f5f7;
  flex-direction: column;
  gap: 10px;
  border: 1px rgb(81, 84, 81) solid;
  border-radius: 2px;
  transition: 0.7s;
}
.menu-item {
  padding-left: 15px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 30px;
}
.menu-item a {
  text-decoration: none;
  color: black;
}
/* основной контент */
.content {
  background: white;
  padding: 20px 20px;
  display: flex;
}

/* вставка иконки поиска внутрь input */
.input-with-icon {
  position: relative;
  background-color: #f5f5f7;
  border-bottom: 1px rgb(81, 84, 81) solid;
}

.input-with-icon input[type="search"] {
  padding-right: 40px;
  padding-left: 10px;
  width: 90%;
  height: 35px;
  outline: none;
  border: none;
  background-color: #f5f5f7;
}

.input-with-icon button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.input-with-icon button img {
  width: 15px;
  height: 15px;
}

/* классы, добавляемые при прослушивании кликов */
.menu.visible {
  display: flex;
  transform: translateX();
}
.close-btn.visible {
  display: block;
}
.input-with-icon.visible {
  background-color: white;
}
.input-with-icon input[type="search"].visible {
  background-color: white;
}