* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* выпадающее меню */
.menu {
  width: 0px;
  height: 100vh;
  background-color: rgb(36, 34, 34);
  position: fixed;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 50px;
}
.close-menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  opacity: 0;
  transition: 0.7s;
}
.menu nav {
  display: flex;
  flex-direction: column;
}
.menu nav a {
  text-decoration: none;
  color: rgb(105, 100, 100);
  font-size: 30px;
}
/* блок с контентом */
.block {
  position: relative;
  transition: 0.7s;
  padding-top: 70px;
  padding-left: 15px;
}
.open-menu-btn {
  background: black;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.7s;
}

/* добавляемые классы */
.block.shift {
  margin-left: 250px;
  transform: translateX();
}

.menu.visible {
  transform: translateX();
  width: 250px;
  padding: 50px 40px;
}

.open-menu-btn.notvisible {
  display: none;
  margin-left: 250px;
}
.close-menu-btn.visible {
  opacity: 1;
  transform: translateX();
}
