/* *{
    margin: 0;
    padding: 0;
} */

.list {
    background-color: aqua;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.item {
 background-color: rgb(255, 0, 183);
 font-size: small;
}

.custom-link{
    text-decoration: none;
    font-size: 20px;

}
